.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100vw;
    height: 4rem;
}
.link{
  font-weight: 500;
  color: rgb(246, 247, 235);
  text-decoration: inherit;
}
.link:hover {
  color: #ed4319;
}