.container{
      display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}
.btn{
    composes: btn from "../QuantityCntrl/QuantityCntrl.module.css";
    font-size: x-large;
    border-radius: 20px;

}