
.container{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 10fr;
}
.navBar{
  grid-row: 1/2;
}
.content{
  grid-row: 2/3;
  padding: 30px;
  background-color: rgb(246, 247, 235);
}
.bob{
  color: red;
  font-size: 80px;
}
